/* Navbar */
.navbar {
    
    padding: 2rem;
    background-color: #fefefe;
 
}

.navbar-nav {
    
    align-items: center;
}

.navbar-collapse {
    background-color: rgb(255, 254, 254);
    align-items: center;
    justify-content: space-between;
    
}

/* MyClass */
.myclass {
    
    background-color: #f5f6f7;
    min-height: 450px;
    text-align: center;
}

.myclass-main {
  
   
    padding: 3rem;
}

.myclass-main h2 {
    font-size: 1.5rem;
    color: #615151;
}

.myclass-pic {
    
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 20px;
}

/* Others */
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 2.5rem;
}

/* Responsive */

@media screen and (max-width: 767px) {
    
    .navbar-brand {
        
        display: none;
    }
    
}
/* Establecer la imagen de fondo *
background-image: url('./images/fondo.jpg');
/* Ajustar la imagen para cubrir todo el fondo 
background-size: cover;
/* Centrar la imagen en el fondo *
background-position: center;
/* No repetir la imagen 
background-repeat: no-repeat;
/* Establecer un color de fondo como respaldo en caso de que la imagen no cargue o no cubra todo el fondo 
background-color: #cccccc; /* Puedes ajustar el color según tus preferencias 
/* Asegurarse de que el contenido no se extienda más allá del ancho de la ventana gráfica 
max-width: 100%;
/* Eliminar el margen predeterminado del body 
margin: 0;
/* Establecer una altura mínima para asegurar que el contenido sea visible 
min-height: 100vh;
/* Alinear el contenido al centro vertical y horizontalmente */